@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #f1f1f1;
    overflow-x: hidden;
    min-height: 100vh;
    font-family: 'Montserrat';
}

.card-font-h3{
    font-family: 'Roboto Slab';
}

span.swiper-pagination-bullet{
    padding: 8px;
}

div.swiper-pagination{
    position: relative !important;
    bottom: -5px !important;
    padding: 5px;
}

.about-images{
    @apply absolute w-[150px] h-[150px] bg-slate-50 rounded-md
}

.footer-item{
    @apply flex items-center space-x-4 pb-5;

}

.footer-icon{
    @apply bg-black w-8 h-8 p-2 md:w-10 md:h-10 md:py-3 shrink-0
}
