@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #f1f1f1;
    overflow-x: hidden;
    min-height: 100vh;
    font-family: 'Montserrat';
}

.card-font-h3{
    font-family: 'Roboto Slab';
}

span.swiper-pagination-bullet{
    padding: 8px;
}

div.swiper-pagination{
    position: relative !important;
    bottom: -5px !important;
    padding: 5px;
}

.hero{
    background: url('../src/assets/hero.jpg') center;
    background-size: cover;
    background-attachment: fixed;
}

.hero-h2{
    text-shadow: 4px 4px 10px black
}

.hero-p {
    text-shadow: 2px 2px 2px black 
}

.card-category{
    @apply flex flex-col items-center w-[274px] h-[264px] shadow-lg bg-white p-8;
    color: rgb(32, 32, 32)
}

.card-category-icon{
    @apply w-12 h-12 font-thin mb-4 shrink-0;
}
.card-category-title{
    @apply text-xl card-font-h3 font-semibold tracking-widest py-4;
}

.card-category-p{
    @apply font-thin text-center text-[14px];
}

.about-images{
    @apply absolute w-[150px] h-[150px] bg-slate-50 rounded-md;
}

.metrics-container{
    background: url('../src/assets/metrics.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.metrics{
    @apply flex flex-col flex-nowrap items-center gap-4;
}

.metrics-icon{
    @apply w-8 h-8;
}

.metrics-value{
    font-family: 'Righteous', cursive;
    @apply text-5xl font-bold;
}

.metrics-label{
@apply uppercase tracking-widest
}

.footer-item{
    @apply flex items-center space-x-4 pb-5;

}

.footer-icon{
    @apply bg-black w-8 h-8 p-2 md:w-10 md:h-10 md:py-3 shrink-0
}
